@import "Colors.module.css";
@import "FontWeight.module.css";
@import "FontSize.module.css";

*,
*::befor,
*::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.title,
.heading,
.subheading,
.paragraph {
    font-family: "LatoBlack";
    font-style: normal;
}

.title {
    font-weight: var(--fw-h1);
    font-size: var(--fs-h1);
    line-height: 58px;
}

.heading {
    font-weight: var(--fw-h2);
    font-size: var(--fs-h2);
    line-height: 29px;
}

.subheading {
    font-weight: var(--fw-h2);
    font-size: var(--fs-h3);
    line-height: 19px;
}

.paragraph {
    font-weight: var(--fw-p);
    font-size: var(--fs-p);
    line-height: 17px;
}

.body {
    color: var(--clr-white);
    display: grid;
    grid-template-columns: 1fr 4fr auto;
    min-height: 700px;
}

.navbar {
    background-color: var(--clr-black);

}

.link {
    text-decoration: none;
    color: white;
    display: block;
    padding: 10px;
}

.navbarLogo {
    width: 117.33333587646484px;
    padding: 32px;
}

.navbarLink {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
}

.homeLogo {
    height: 21.34px;
    width: 24px;
}

.cardContainer {
    background-color: var(--clr-greyDarkest);
    min-height: 100vh;
}

.cardCollection {
    display: flex;
    right: 0px;
    align-items: center;
    flex-wrap: wrap;
    padding: 20px;

}

.card {
    position: relative;
    background-color: var(--clr-greyDark);
    width: 224px;
    height: 259px;
    border-radius: 20px;
    margin: 35px;
}

.cardTitle {
    margin-left: 15px;
}

ul {
    list-style: none;
}

.albumImage {
    width: 192px;
    height: 192px;
    display: block;
    margin-top: 16px;
    border-radius: 20px;
    margin-left: auto;
    margin-right: auto;
}

.searchbarContainer {
    padding: 10px;
    margin: 10px;
    width: 30%;

}

.searchbar {
    border-radius: 0 20px 20px 0;
    height: 30px;
}

.searchButton {
    padding-top: 6px;
    height: 21.34px;
    width: 24px;
}

.footer {
    background-color: var(--clr-greyDark);
    height: 96px;
    margin-bottom: 0;
    grid-column: 1/5;
}

audio{
    width:96%;
}